@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
/*
$font_body: 'Pangolin';
$linear_grad_1: orangered;
$linear_grad_2: coral;
*/
.header__title {
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
  font-weight: bold;
  font-size: large; }
  .header__title .a_href_link {
    text-decoration: none;
    margin-left: 20px;
    font-size: large;
    font-weight: bold; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: auto;
  height: auto; }

.titulo-1, .titulo-1-galeria, .titulo-2, .titulo-3, .titulo-4 {
  color: black;
  font-size: 100px;
  font-weight: bold; }

.titulo-1-galeria {
  font-size: x-large;
  color: #3a5795; }

.card-title--portada {
  font-size: xx-large;
  text-align: center;
  font-weight: bold; }

.card-title--subportada {
  font-size: large; }

.titulo-2 {
  font-size: xx-large;
  color: darkcyan; }

.titulo-3 {
  font-size: x-large;
  color: darkcyan; }

.titulo-4 {
  font-size: large;
  color: brown; }

.sub_destacado-1 {
  color: #55acee;
  font-weight: bold;
  font-size: x-large; }

.sub_destacado-2 {
  color: #3a5795;
  font-weight: bold;
  font-size: x-large; }

.sub_destacado-3 {
  color: #C25E30;
  font-weight: bold;
  font-size: x-large; }

.sub_destacado-4 {
  color: #c72f2f;
  font-weight: bold;
  font-size: x-large; }

.sub_destacado-5 {
  color: blueviolet;
  font-weight: bold;
  font-size: x-large; }

.sub_destacado-6 {
  color: darkslateblue;
  font-weight: bold;
  font-size: x-large; }

img {
  align-items: center; }
  img .img__maps {
    margin-top: 10px;
    height: 500px; }

.img__scale:hover {
  transform: scale(1.5);
  align-items: center; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }
