
.titulo-1{
    color: map-get($titulos, colore);
    font-size: map-get($titulos, tamano);
    font-weight: map-get($titulos, tono);
} 

.titulo-1-galeria {
    @extend .titulo-1;
    font-size:x-large;
    color:#3a5795,
}

.card-title--portada
{
    font-size:xx-large;
    text-align: center;
    font-weight: map-get($titulos, tono);
}

.card-title--subportada
{
    font-size: large;
}

.titulo-2 {
    @extend .titulo-1;
    font-size:xx-large;
    color:darkcyan;
}

.titulo-3 {
    @extend .titulo-1;
    font-size:x-large;
    color:darkcyan;
}

.titulo-4 {
    @extend .titulo-1;
    font-size:large;
    color:brown;
}

@each $id, $colore in $subdestacados {
    .sub_destacado-#{$id}
    {
        color:$colore;
        font-weight: bold;
        font-size:x-large;
    }
 }
